WFGUI/Connected Services/ServiceReference1/DotNetPracticum5.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DotNetPracticum5.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DotNetPracticum5.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProducts" nillable="true" type="tns:UserProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProducts" nillable="true" type="tns:ArrayOfUserProducts" />
  <xs:complexType name="UserProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProducts" nillable="true" type="tns:UserProducts" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Money" type="xs:float" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inventory" nillable="true" type="tns:Inventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventory" nillable="true" type="tns:ArrayOfInventory" />
  <xs:complexType name="Inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Storage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inventory" nillable="true" type="tns:Inventory" />
</xs:schema>