WPFGUI/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DotNetPracticum5.Model" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DotNetPracticum5.Model" minOccurs="0" name="GetUserProductsResult" nillable="true" type="q1:ArrayOfUserProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuyProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DotNetPracticum5.Model" minOccurs="0" name="GetInventoryResult" nillable="true" type="q2:ArrayOfInventory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DotNetPracticum5.Model" minOccurs="0" name="GetUserByUsernameResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>